@media only screen and (max-width:600px){
    body{
        height:100vh ;
    }
    html{
        height: 100vh;  
    }
    .site-now-togeller{
        display: none;
    }
    .nav-togller{
        display: block;
    }
}


@media only screen and (max-width:1200px){
    body{
        height:100vh ;
    }
    html{
        height: 100vh;  
    }

    .hero{
        text-align: center;
        background-image: url(./img/20220930_183853.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

    }
    .hero-bg{
        display: none;
    }
}
 

@media only screen and (max-width:600px){
    body{
        height:100vh ;
    }
    html{
        height: 100vh;  
    }

    .skill-percent-card{
        display: block;
        height: 100%;
    }
    .skill-card{
        display: flex;
    }
}






@media only screen and (max-width:910px){
    body{
        height:100vh ;
    }
    html{
        height: 100vh;  
    }

    .skill-percent-card{
        display: block;
        height: 100%;
    }
}

@media only screen and (max-width:800px){
    body{
        width:100v ;
    }
    html{
        width: 100vh;
    }

    .form-input{
        width: 90%;
    }

    .form-input:not(:first-child){
        margin-top: 32px;
    }

    .input-left{
        margin-left: 0px;
    }

    .input-top{
        margin-bottom: 0px;
    }

    .text-aria{
        width: 90%;
    }
}